<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="common_header">

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title th:unless="${title}">Muscade</title>
    <title th:if="${title}" th:text="${title} + ' - Muscade'"></title>

    <!-- Manifest, icons, etc used when the page pinned on a mobile device -->
    <link rel="manifest" th:href="@{/img/icons/manifest.json}"/>
    <link rel="apple-touch-icon" sizes="57x57" th:href="@{/img/icons/apple-touch-icon-57x57.png}"/>
    <link rel="apple-touch-icon" sizes="60x60" th:href="@{/img/icons/apple-touch-icon-60x60.png}"/>
    <link rel="apple-touch-icon" sizes="72x72" th:href="@{/img/icons/apple-touch-icon-72x72.png}"/>
    <link rel="apple-touch-icon" sizes="76x76" th:href="@{/img/icons/apple-touch-icon-76x76.png}"/>
    <link rel="apple-touch-icon" sizes="114x114" th:href="@{/img/icons/apple-touch-icon-114x114.png}"/>
    <link rel="apple-touch-icon" sizes="120x120" th:href="@{/img/icons/apple-touch-icon-120x120.png}"/>
    <link rel="apple-touch-icon" sizes="144x144" th:href="@{/img/icons/apple-touch-icon-144x144.png}"/>
    <link rel="apple-touch-icon" sizes="152x152" th:href="@{/img/icons/apple-touch-icon-152x152.png}"/>
    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/img/icons/apple-touch-icon-180x180.png}"/>
    <link rel="icon" type="image/png" th:href="@{/img/icons/favicon-32x32.png}" sizes="32x32"/>
    <link rel="icon" type="image/png" th:href="@{/img/icons/favicon-194x194.png}" sizes="194x194"/>
    <link rel="icon" type="image/png" th:href="@{/img/icons/favicon-96x96.png}" sizes="96x96"/>
    <link rel="icon" type="image/png" th:href="@{/img/icons/android-chrome-192x192.png}" sizes="192x192"/>
    <link rel="icon" type="image/png" th:href="@{/img/icons/favicon-16x16.png}" sizes="16x16"/>
    <link rel="mask-icon" th:href="@{/img/icons/safari-pinned-tab.svg}" color="#1f6fb5"/>
    <meta name="msapplication-TileColor" content="#da532c"/>
    <meta name="msapplication-TileImage" th:content="@{/img/icons/mstile-144x144.png}"/>


    <!-- Bootstrap Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
    <!-- Bootstrap Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css"/>

    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css"
          href="//cdn.datatables.net/plug-ins/3cfcc339e89/integration/bootstrap/3/dataTables.bootstrap.css"/>

    <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}" />
    <link rel="stylesheet" type="text/css" media="print" href="../static/css/print.css" th:href="@{/css/print.css}" />

    <!--<th:block th:replace="${links}" />-->

    <script src="../static/js/main.js" th:src="@{/js/main.js}"></script>
    <!--{% block extra_css %} {% endblock %}-->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <!-- DataTables -->
    <script type="text/javascript" charset="utf8"
            src="//cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf8"
            src="//cdn.datatables.net/plug-ins/3cfcc339e89/integration/bootstrap/3/dataTables.bootstrap.js"></script>

    <!-- Bootstrap Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

</head>

</html>